@model Product

@{
    ViewBag.Title = "Product details";
}

<dl style="margin-top: 25px; margin-left: 30px" class="row mb-0">
                                <dt class="col-sm-4">Name</dt>
                                <dd class="col-sm-8">@Model.Name</dd>

                                <dt class="col-sm-4">Images</dt>
                                <dd class="col-sm-8"><img src="~/assets/images/@Model.ProductImages.Find(i=>i.IsMain).ImageURL" width="100" height="100"/></dd>

                                <dt class="col-sm-4">Category</dt>
                                <dd class="col-sm-8">@Model.Category.Name</dd>

                                <dt class="col-sm-4">Brand</dt>
                                <dd class="col-sm-8">@Model.Brand.Name</dd>

                                <dt class="col-sm-4">Price</dt>
                                <dd class="col-sm-8">$@Model.Price</dd>

                                <dt class="col-sm-4">Discount Price</dt>
                                @if (Model.DiscountPrice == null)
                                {
                                    <dd class="col-sm-8">This product is not at discount</dd>
                                }

                                @if (Model.DiscountPrice != null)
                                {
                                    <dd class="col-sm-8">$@Model.DiscountPrice</dd>
                                }

                                <dt class="col-sm-4">New Arrival</dt>
                                @if (Model.IsNewArrival)
                                {
                                    <dd class="col-sm-8">Yes</dd>
                                }

                                @if (!Model.IsNewArrival)
                                {
                                    <dd class="col-sm-8">No</dd>
                                }

                                <dt class="col-sm-4">Bestseller</dt>
                                @if (Model.IsBestseller)
                                {
                                    <dd class="col-sm-8">Yes</dd>
                                }

                                @if (!Model.IsBestseller)
                                {
                                    <dd class="col-sm-8">No</dd>
                                }

                                <dt class="col-sm-4">Featured</dt>
                                @if (Model.IsFeatured)
                                {
                                    <dd class="col-sm-8">Yes</dd>
                                }

                                @if (!Model.IsFeatured)
                                {
                                    <dd class="col-sm-8">No</dd>
                                }

                                <dt class="col-sm-4">Special Product</dt>
                                @if (Model.IsSpecialProduct)
                                {
                                    <dd class="col-sm-8">Yes</dd>
                                }

                                @if (!Model.IsSpecialProduct)
                                {
                                    <dd class="col-sm-8">No</dd>
                                }

                                <dt class="col-sm-4">Created at</dt>
                                <dd class="col-sm-8">@Model.CreatedAt.Value.ToString("MM/dd/yyyy HH:mm")</dd>

                                <dt class="col-sm-4">Updated at</dt>
                                @if (Model.UpdatedAt == null)
                                {
                                    <dd class="col-sm-8">You haven't updated this product yet</dd>
                                }

                                @if (Model.UpdatedAt != null)
                                {
                                    <dd class="col-sm-8">@Model.UpdatedAt.Value.ToString("MM/dd/yyyy HH:mm")</dd>
                                }

                                <dt class="col-sm-4">Stock count</dt>
                                <dd class="col-sm-8">@Model.StockCount</dd>

                                <dt class="col-sm-4">Description</dt>
                                <dd class="col-sm-8">@Html.Raw(Model.Description)</dd>
</dl>

<a style="margin-top: 40px; margin-left: 30px" class="btn btn-light" asp-action="index">Go back</a>